:root {
    --input-pane-width: 130px;
    --graph-pane-height: 45vh;
}
html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.025em;
}
.input-pane {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 10px;
    width: var(--input-pane-width);
    background-color: #093145;
    color: white;
    overflow: auto;
}
.page-title { 
    margin-top: 10px;
    text-align: center;
}
.parameter-text {
    margin-top: 10px;
    margin-left: 7.5%; 
}
.parameter-subtext {
    margin-top: 0px;
    margin-left: 7.5%;
    color: #aaaaaa;
    font-size: 0.7em;
}
.parameter-box {
    margin-left: 7.5%; 
    width: 85%; 
    text-align: center;
}
.simulate-button {
    margin-top: 15px;
    margin-left: 7.5%; 
    width: 87%;
}
.graph-pane {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: var(--input-pane-width);
    height: var(--graph-pane-height);
    width: calc(100vw - var(--input-pane-width));
    background-color: white;
    color: #107896;
}
.graph-canvas {
    position: relative;
    height: var(--graph-pane-height);
    width: calc(100vw - var(--input-pane-width) - 5px);
}
.cashflow-pane {
    display: flex;
    position: absolute;
    top: var(--graph-pane-height);
    left: var(--input-pane-width);
    min-height: calc(100vh - var(--graph-pane-height));
    width: calc(100vw - var(--input-pane-width) );
    background-color: white;
    color: #107896;
    box-shadow: 0 -1px 0 #000000;
}
.cashflow-table {
    position: relative;
    height: calc(100vh - var(--graph-pane-height) - 3px);
    width: calc(100vw - var(--input-pane-width));
}