:root {
    --input-pane-width: 150px;
    --graph-pane-height: 45vh;
    --percentile-scroll-height: 20px;
    --percentile-text-width: 120px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.025em;
}
html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}
.input-pane {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 10px;
    width: var(--input-pane-width);
    background-color: #093145;
    color: white;
    overflow: auto;
}
.page-title { 
    margin-top: 10px;
    text-align: center;
}
.parameter-text {
    margin-top: 10px;
    margin-left: 7.5%; 
}
.parameter-subtext {
    margin-top: 0px;
    margin-left: 7.5%;
    color: #aaaaaa;
    font-size: 0.7em;
}
.parameter-box {
    margin-left: 7.5%; 
    width: 85%; 
    text-align: center;
}
.simulate-button {
    margin-top: 15px;
    margin-left: 7.5%; 
    width: 87%;
}
.graph-pane {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: var(--input-pane-width);
    height: var(--graph-pane-height);
    width: calc(100vw - var(--input-pane-width));
    background-color: white;
    color: #107896;
}
.graph-canvas {
    position: relative;
    height: var(--graph-pane-height);
    width: calc(100vw - var(--input-pane-width) - 5px);
    z-index: 2;
}
.simulation-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--graph-pane-height);
    width: calc(100vw - var(--input-pane-width) - 5px);
    text-align: center;
    line-height: var(--graph-pane-height); /* vertical align */
    z-index: 1;
}
.simulation-spinner {
    position: absolute;
    top: calc(0.5*var(--graph-pane-height) - 13px);    
    left: calc(0.5*(100vw - var(--input-pane-width) - 5px) - 13px);
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #093145; /* Blue */
    border-radius: 50%;
    width: 26px;
    height: 26px;
    animation: spin 2s linear infinite;
    z-index: 1
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cashflow-pane {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: var(--graph-pane-height);
    left: var(--input-pane-width);
    height: calc(100vh - var(--graph-pane-height));
    width: calc(100vw - var(--input-pane-width));
    background-color: white;
    color: #555555;
    overflow: hidden;
}
.percentile-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: var(--percentile-scroll-height);
    width: calc(100vw - var(--input-pane-width));
    z-index: 1;

}
.percentile-text {
    height: var(--percentile-scroll-height);
    width: var(--percentile-text-width);
    font-size: calc( 0.8*var(--percentile-scroll-height) );
    text-align: center;
    z-index: 1;
}
.percentile-bar {
    position: absolute;
    top: 0px;
    left: var(--percentile-text-width);
    height: var(--percentile-scroll-height);
    width: calc(100vw - var(--input-pane-width) - var(--percentile-text-width) - 5px);
    z-index: 1;
}
.cashflow-table {
    height: calc(100vh - var(--graph-pane-height) - var(--percentile-scroll-height));
    width: calc(100vw - var(--input-pane-width));
    z-index: 2;
}
.tabulator .tabulator-header .tabulator-col {
    text-align:center;
}